<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="../assets/404.jpeg" height="400" width="400" class="text-center">
        </div>
        <div class="col-md-5">
            <div id="pad">
                <h4 class="text-center"><strong>OOPS! PAGE NOT FOUND.</strong></h4>
                <p class="text-center"><strong>Sorry could not found what you're looking for</strong></p>
            </div>
            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

